*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
}

.container {
    --bs-gutter-x: 3.2rem;
    --bs-gutter-y: 0;
}