@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@use '../abstracts/functions' as *;

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3.2rem;

    @include respond('xs') {
        padding: 3.2rem 0.8rem;
    }
}

body {
  background: #F6F5F6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, minmax(120px, auto));
    min-height: 90vh;
    gap: 3.2rem;

    @include respond('md') {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;                    // Each row is as tall as its content!        
        min-height: unset;
    }

    @include respond('xs') {
        grid-template-columns: 1fr;
    }
}